{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}

    <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <div style="text-align: center">
              <a class="btn  bg-navy margin" href="{{ path('typemeuble_index') }}"><i class="fa fa-undo"></i> Back to the list </a> 
               <a class="btn  bg-navy margin" href="{{ path('typemeuble_edit', { 'id': typemeuble.id }) }}"><i class="fa fa-edit"></i> Edit </a>
               <a class="btn  bg-navy margin" ><i class="fa fa-trash"></i> Delete </a>
               
                <table  class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>ID </th>
                  <th>Wording</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> {{typemeuble.id}} </td>
                    <td>{{ typeMeuble.name }}</td>
                  </tr>
                </tbody>
              </table>
              
            </div>
        </div>
            
{% endblock %}