{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}

    <div class="box">
            
            <!-- /.box-header -->
            <div class="box-body">
              <div>
                <a class="btn btn-app bg-navy margin"><i class="fa fa-home"></i>Surface </a> :  
                <a class="btn btn-app  margin">{{room.surface}}</a>
              </div>
              <div>
                <a class="btn btn-app bg-navy margin"><i class="fa fa-user"></i>Ocupant </a> :
                <a class="btn btn-app  margin">{{room.surface}}</a>    
              </div>
              <div>
                <a class="btn btn-app bg-navy margin"><i class="fa fa-money"></i>Rent </a> :
                <a class="btn btn-app  margin">{{room.rent}} euros</a>  
              </div>
              <div>
                <a class="btn btn-app bg-navy margin"><i class="fa fa-money"></i>Guarantee </a> :
                <a class="btn btn-app  margin">{{room.guarantee}} euros</a>  
              </div>
               <div>
                <a class="btn btn-app bg-navy margin"><i class="fa fa-tv"></i>Meubles </a> :
              </div>
              <div>
                <a class="btn btn-app bg-navy margin"><i class="fa fa-wrench"></i>Réparations</a> :
              </div>
              <div>
                <a class="btn btn-app bg-navy margin"><i class="fa fa-money"></i>Mensualités </a> :
              </div>
              <div>
                <a class="btn btn-app bg-navy margin"><i class="fa fa-file"></i>Documents </a> :
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


{% endblock %}

{% block page_title %} Room {% endblock %}
{% block page_subtitle %} infos room {% endblock %}