{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}
 Kokou Colocation
{% endblock %}

{% block page_title %}
 Home
{% endblock %}

{% block page_subtitle %}
 bienvenue sur votre espace de colocation
{% endblock %}

{% block page_content %}
    <div >
        hello !
    </div>
{% endblock %}