{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
   <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
   </div>
{% endblock fos_user_content %}
